Repository miguerubsk/BatchPDF-Creator, changes with the labels that .github/labeler.yml gives for each.
All labels: bash, documentation, ci/cd, dependencies

Create label.yml
  .github/workflows/label.yml
Labels: ci/cd

Create Release Automation.yml
  .github/workflows/Release Automation.yml
Labels: ci/cd

Create greetings.yml
  .github/workflows/greetings.yml
Labels: ci/cd

Update and rename blank.yml to CodeQL Security Scan.yml
  .github/workflows/CodeQL Security Scan.yml
  .github/workflows/blank.yml
Labels: ci/cd

Update Format Check.yml
  .github/workflows/Format Check.yml
Labels: ci/cd

Delete .github/workflows/CodeQL Security Scan.yml
  .github/workflows/CodeQL Security Scan.yml
Labels: ci/cd

Update generate_pdfs.sh
  generate_pdfs.sh
Labels: bash

Update Format Check.yml
  .github/workflows/Format Check.yml
Labels: ci/cd

Update Format Check.yml
  .github/workflows/Format Check.yml
Labels: ci/cd

Delete .github/workflows/Format Check.yml
  .github/workflows/Format Check.yml
Labels: ci/cd

Rename generate_pdfs.sh to generate_pdf.sh
  generate_pdf.sh
Labels: bash

Update README.md
  README.md
Labels: documentation

Update generate_pdf.sh
  generate_pdf.sh
Labels: bash

docs: improve of README.md
  README.md
Labels: documentation

docs: improved bug report template
  .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

docs: improved and renamed feature_request.md
  .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

docs(refactor): improved CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

docs: changed information about the policy
  SECURITY.md
Labels: documentation

docs: added CODEBASE_IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
Labels: documentation

docs: added template for support questions
  .github/ISSUE_TEMPLATE/04_SUPPORT_QUESTION.md
Labels: documentation

templates: added PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

chore: create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/codebase-improvement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support-question.md
Labels: documentation

Delete .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
  .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
Labels: documentation

Rename bug_report.md to 01_BUG_REPORT.md
  .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
Labels: documentation

Delete .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
Labels: documentation

Rename feature_request.md to 02_FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
Labels: documentation

Delete .github/ISSUE_TEMPLATE/04_SUPPORT_QUESTION.md
  .github/ISSUE_TEMPLATE/04_SUPPORT_QUESTION.md
Labels: documentation

Rename support-question.md to 04_SUPPORT_QUESTION.md
  .github/ISSUE_TEMPLATE/04_SUPPORT_QUESTION.md
Labels: documentation

Delete .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
Labels: documentation

Rename codebase-improvement.md to 03_CODEBASE_IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
Labels: documentation

docs: fixed links
  README.md
Labels: documentation

docs: edited Roadmap
  README.md
Labels: documentation

chore: Create stale.yml
  .github/workflows/stale.yml
Labels: ci/cd

Update 01_BUG_REPORT.md
  .github/ISSUE_TEMPLATE/01_BUG_REPORT.md
Labels: documentation

Update 02_FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/02_FEATURE_REQUEST.md
Labels: documentation

Update 04_SUPPORT_QUESTION.md
  .github/ISSUE_TEMPLATE/04_SUPPORT_QUESTION.md
Labels: documentation

Update 03_CODEBASE_IMPROVEMENT.md
  .github/ISSUE_TEMPLATE/03_CODEBASE_IMPROVEMENT.md
Labels: documentation

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

refactor: added <> for links
  CODE_OF_CONDUCT.md
Labels: documentation

.github/labeler.yml:

# Etiqueta "bash" si los cambios afectan scripts Bash
bash:
  - '**/*.sh'

# Etiqueta "docs" si los cambios afectan archivos de documentaci√≥n
documentation:
  - '**/*.md'
  - 'docs/**'

# Etiqueta "ci/cd" si los cambios afectan a los workflows de GitHub Actions
ci/cd:
  - '.github/workflows/**'

# Etiqueta "dependencies" si los cambios afectan a archivos de dependencias
dependencies:
  - 'package.json'
  - 'requirements.txt'
